{{ ansible_managed | comment }}

[Unit]
Description=golang openstack exporter service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/openstack-exporter ${OPENSTACK_EXPORTER__PROJECT_NAME} \
  --web.listen-address="0.0.0.0:${OPENSTACK_EXPORTER__PROJECT_PORT}" \
  {{ openstack_exporter__extra_arguments }}
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
