{{ ansible_managed | comment }}

[Unit]
Description=golang openstack exporter service inside a tmux session
After=network-online.target

[Service]
Type=oneshot
User={{ openstack_exporter__user }}
Group={{ openstack_exporter__group }}
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s ${OPENSTACK_EXPORTER__PROJECT_NAME} '/usr/local/bin/openstack-exporter ${OPENSTACK_EXPORTER__PROJECT_NAME} --web.listen-address="0.0.0.0:${OPENSTACK_EXPORTER__PROJECT_PORT}" {{ openstack_exporter__extra_arguments }}'
ExecStop=/usr/bin/tmux kill-session -t ${OPENSTACK_EXPORTER__PROJECT_NAME}

[Install]
WantedBy=multi-user.target
