{{ ansible_managed | comment }}

[Unit]
Description=golang openstack exporter service
After=network-online.target

[Service]
Type=simple
User={{ openstack_exporter__user }}
Group={{ openstack_exporter__group }}
ExecStart=/usr/local/bin/openstack-exporter --os-client-config="/etc/openstack/clouds.yaml" --web.listen-address=":{{ openstack_exporter__port | default(9180) }}" --web.telemetry-path="{{ openstack_exporter__cloud_telemetry_path }}" -prefix="{{ openstack_exporter__cloud_prefix }}"
  {%- if openstack_exporter__multicloud | bool %} --multi-cloud
  {%- else %} {{ openstack_exporter__cloud_name }}
  {%- endif %}
{{ "\n" }}
Restart=always
RestartSec=1


[Install]
WantedBy=multi-user.target
